/* Fullscreen splash screen - clickable anywhere */
#splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 10;
  cursor: pointer; /* Show pointer cursor */
}

#splash-screen h1 {
  margin: 0;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  user-select: none; /* Prevent accidental text selection */
}

video {
  position: fixed; /* Fix the video to the entire viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the video fills the screen without distortion */
  display: none; /* Hidden until the splash screen is clicked */
}